@import "../../../_theme_variables";


#tmhtmlcontent_home {
	ul {
		margin-bottom:0;
		li {
			padding:71px 15px 42px;
			text-align:center;
			img {
				max-width: 100%;
				width:auto;
				height: auto;
				display:inline-block;
			}
			.item-html {
				color:#fff;
				padding:0 50px;
				h2 {
					font:normal 45px/1em $font-custom;
					margin: 19px 0 28px;
					padding: 0;
					color: #58bdab;
					font-weight: 700;
				}
			}
		}
	}
	@media (max-width: $screen-xs-max) { // max 767px
		ul {
			li {
				.item-html {
					padding:0 30px;
				}
			}
		}
	}
	@media (max-width: $screen-xs - 1) { // max 479px
		ul {
			li {
				.item-html {
					padding:0;
					font-size:10px;
					line-height:18px;
				}
			}
		}
	}
}