@import "../../../_theme_variables";

.blog-image {
	margin-bottom:15px;
	a {
		display:block;
		@include blog-image;
		overflow:hidden;
		img {
			@include transform (scale(1, 1));
    		@include transition (15s);
			@media only screen and (max-width:$screen-xs-max) {
				width:100%;	
			}
		}
	}
}

#homepage-blog {
	margin-bottom:27px;
	.title_block {
		display:none;
		&:after {
			display:none;	
		}
	}
	@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
		margin: 0 -3px 20px;
		text-align:center;
	}
	li {
		margin-bottom:30px;
		text-align:center;
		&:hover a {
			img {
				@include transform (scale(1.2, 1.2));
			}
		}
		h5 {
			font:bold 16px/31px $font-custom;
			padding:0 10px;
			margin:21px 0 5px;
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				font:bold 14px/26px $font-custom;
			}
			a {
				color:#58bdab;
				&:hover {
					 color:#fff;	
				}
			}
		}
		p {
			color:#fff;
			padding:0 10px;
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				padding:0;
				font-size:11px;
				line-height:15px;
			}
		}
		.date-added {
			color:#fff;
			font-size:14px;
			&:before {
				font-family:$flat-icon;
				display:inline-block;
				content:"\e053";
				margin-right:5px;
				color:#58bdab;	
			}
		}
	}
	@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
		margin: 0 -3px 20px;
		text-align:center;
		li {
			width:30%;
			display:inline-block;
			float:none;
			padding:0 3px;
			h5 {
				font:500 13px/20px $font-custom;
				padding:0;
				margin:15px 0 5px;
			}
			p {
				display:none;
			}
			.date-added {
				color:#fff;
				font-size:12px;
			}
		}
	}
}