ul.product_list .product-image-container img {background-color:#fff;}
.gallery-thumb-list {
	overflow:hidden;
	margin:0;
	position:absolute;
	right:9px;
	top:9px;
	width:52px;
}
.gallery-thumb-list li {
	margin-bottom:9px;
}
.gallery-thumb-list li a img {
	border:1px solid #ececec;	
}