@import "../../../_theme_variables";

.tab-content > ul {
	display:none !important;	
}
.tab-content .bx-wrapper {
	margin:0 !important;	
}
.tab-content .bx-wrapper .bx-viewport {
	position:relative;
	@media only screen and (min-width: 1200px) {
		overflow:visible !important;
	}
}
.tab-content .bx-wrapper .bx-viewport:before {
	content:" ";
	display:block;
	position:absolute;
	right:100%;
	top:0;
	width:10000px;
	height:100%;
	background:#fff;
	z-index:2;
}
.tab-content .bx-wrapper .bx-viewport:after {
	content:" ";
	display:block;
	position:absolute;
	left:100%;
	top:0;
	width:10000px;
	height:100%;
	background:#fff;
	z-index:2;
}
#homepage-carousel {
	margin:0;
	overflow:hidden;
	@media only screen and (min-width: 1200px) {
		overflow:visible;
	}
}
#homepage-carousel li {
	padding-left:0 !important;
	padding-right:0 !important;
	clear:none !important;
}
.tab-content .bx-controls a:hover,
.tab-content .bx-controls a.active {
	background:#000;
	color:#fff;
}
.tab-content .bx-controls a:before {
	font-family:'FontAwesome';
}
.tab-content .bx-controls.bx-has-pager {
	position:absolute;
	right:0;
	top:-78px;
	padding:0;
	margin:0;
	z-index:5;
	@media (max-width: $screen-md-max) { // max 1199px
		top: auto;
		width:100%;
	}
	@media (max-width: $screen-xs - 1) { // max 479px
		display:none;
	}
	.bx-pager {
		padding:0;
		margin:0;
		position:relative;
		bottom:auto;
		width:100%;
		text-align:center;
		@media (max-width: $screen-md-max) { 
			bottom: 44px;
		}
		.bx-pager-item {
			margin:0 0 0 16px;
			float:none;
			@media (max-width: $screen-md-max) { // max 1199px
				margin:0 8px;
			}
			a {
				float:none;
				display:block;	
				width:12px;
				height:13px;
				@include border-radius(50%);
				background:#e5e5e5;
				margin:0;
				padding:0;
				&:hover, &.active {
					background:#58bdab;	
				}
			}
		}
	}
}
.tab-content .bx-pager .bx-pager-item {
	float:left;
	text-align:center;
	margin-right:3px;
}
.tab-content .bx-controls-auto .bx-controls-auto-item {
	float:left;
	margin-right:3px;
	text-align:center;
}
.tab-content .bx-controls-auto .bx-controls-auto-item a {
	display:block;
	width:20px;
	height:20px;
}
.tab-content .bx-controls-auto .bx-controls-auto-item a.bx-start:before {
	content:'\f04b';	
}
.tab-content .bx-controls-auto .bx-controls-auto-item a.bx-stop:before {
	content:'\f04c';	
}
.tab-content .bx-controls-direction {
	float:left;
	overflow:hidden;	
}
.tab-content .bx-controls-direction a {
	display:block;
	float:left;
	text-align:center;
	margin-top:-155px;
	z-index:5;
	background:none !important;
	border:none !important;
}
.tab-content .bx-controls-direction a.bx-prev {
	left:26px;
	&:before {
		content:'\f0d9';
		padding:0;
	}
}
.tab-content .bx-controls-direction a.bx-next {
	right:26px;
	&:before {
		content:'\f0da';
		padding:0;
	}
}