.stickUpTop {
  background: #58bdab;
  position: static;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1; }

.stickUpHolder {
  padding: 0;
  max-width: 100%; }

@media only screen and (max-width: 1419px) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px; } }
.top_menu {
  clear: both;
  text-align: center;
  position: relative; }
  @media (max-width: 987px) {
    .top_menu {
      padding: 0 65px;
      background: #f4f4f4; } }
  .top_menu > ul {
    padding: 0;
    margin: 0; }
    @media (max-width: 987px) {
      .top_menu > ul {
        padding: 20px 0; } }
    .top_menu > ul > li {
      display: inline-block;
      padding: 14px 0 0; }
      @media (max-width: 987px) {
        .top_menu > ul > li {
          padding: 10px 20px; } }
      .top_menu > ul > li > a {
        font: bold 16px/24px "Ubuntu", sans-serif;
        text-transform: uppercase;
        color: #374046;
        display: block;
        padding: 5px 23px 17px;
        position: relative;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        @media (max-width: 987px) {
          .top_menu > ul > li > a {
            padding: 0; } }
        .top_menu > ul > li > a:after {
          background: #fff;
          bottom: -20px;
          content: " ";
          position: absolute;
          left: 0;
          height: 0;
          width: 100%; }
          @media (min-width: 1420px) {
            .top_menu > ul > li > a:after {
              transform: translateX(-50%);
              left: 50%;
              width: 30%;
              transition: height 0.15s ease, bottom 0.15s ease, width 0.2s ease-in-out 0.15s, opacity 0.3s ease, background 0.3s ease; } }
          @media (max-width: 987px) {
            .top_menu > ul > li > a:after {
              display: none; } }
        @media (min-width: 988px) and (max-width: 1211px) {
          .top_menu > ul > li > a {
            font: bold 15px/21px "Ubuntu", sans-serif;
            padding: 5px 15px 17px; } }
      .top_menu > ul > li:hover > a, .top_menu > ul > li.sfHover > a, .top_menu > ul > li.sfHoverForce > a, .top_menu > ul > li > a:hover {
        color: white; }
        .top_menu > ul > li:hover > a .menu_badge, .top_menu > ul > li.sfHover > a .menu_badge, .top_menu > ul > li.sfHoverForce > a .menu_badge, .top_menu > ul > li > a:hover .menu_badge {
          color: #F00; }
        .top_menu > ul > li:hover > a:after, .top_menu > ul > li.sfHover > a:after, .top_menu > ul > li.sfHoverForce > a:after, .top_menu > ul > li > a:hover:after {
          height: 8px; }
          @media (min-width: 1420px) {
            .top_menu > ul > li:hover > a:after, .top_menu > ul > li.sfHover > a:after, .top_menu > ul > li.sfHoverForce > a:after, .top_menu > ul > li > a:hover:after {
              width: 100%; } }
      .top_menu > ul > li:hover > span.menu-mobile-grover:before {
        color: #fff; }
      @media only screen and (min-width: 988px) {
        .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul {
          display: none;
          width: 200px;
          top: -1px;
          right: -200px;
          position: absolute;
          z-index: 99;
          border: 1px solid #ccc;
          background: #fff; } }
      @media (max-width: 987px) {
        .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul {
          background: #fff; } }
      .top_menu > ul > li > ul.is-simplemenu {
        right: auto;
        left: 0;
        top: 59px;
        font: 300 14px/22px "Ubuntu", sans-serif; }
      @media (max-width: 987px) {
        .top_menu > ul > li {
          width: 100%;
          float: none;
          position: relative; }
          .top_menu > ul > li > a {
            border-right: none; } }
  @media (max-width: 987px) {
    .top_menu ul.menu {
      background: #222;
      display: none;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      text-align: left; } }
  .top_menu li a {
    position: relative; }
  .top_menu li.simple, .top_menu li li {
    position: relative; }
  .top_menu li li a {
    display: block;
    padding: 6px 10px; }
    @media (min-width: 988px) and (max-width: 1211px) {
      .top_menu li li a {
        padding: 3px 0; } }
  .top_menu li li.sfHover > a, .top_menu li li:hover > a, .top_menu li li.sfHoverForce > a {
    color: #262626; }
  .top_menu .menu_badge {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 12px;
    margin-left: 10px;
    padding: 1px 5px 2px;
    position: absolute;
    right: -5px;
    top: -8px;
    z-index: 2;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .top_menu .is-megamenu {
    width: 100%;
    border: 2px solid #262626;
    border-top: none;
    padding: 0 15px;
    background: #fff;
    display: none;
    font: 300 14px/22px "Ubuntu", sans-serif;
    margin-top: 10px; }
    @media (min-width: 988px) and (max-width: 1211px) {
      .top_menu .is-megamenu {
        font: normal 11px/17px "Ubuntu", sans-serif; } }
    @media only screen and (min-width: 988px) {
      .top_menu .is-megamenu {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 20px; } }
    .top_menu .is-megamenu .megamenu-row {
      padding-top: 15px;
      padding-bottom: 20px; }
      .top_menu .is-megamenu .megamenu-row + .megamenu-row {
        margin: 0 -5px; }
        @media only screen and (min-width: 988px) {
          .top_menu .is-megamenu .megamenu-row + .megamenu-row {
            padding-top: 0; }
            .top_menu .is-megamenu .megamenu-row + .megamenu-row > div {
              padding-top: 0;
              padding-bottom: 0; }
              .top_menu .is-megamenu .megamenu-row + .megamenu-row > div.megamenu-col-2-2 {
                padding-left: 0;
                padding-right: 0; } }
        .top_menu .is-megamenu .megamenu-row + .megamenu-row img {
          margin: 0 auto;
          width: 100%; }
    .top_menu .is-megamenu ul.content > li {
      text-align: left; }
      .top_menu .is-megamenu ul.content > li > a {
        font: bold 16px/24px "Ubuntu", sans-serif;
        color: #58bdab;
        border-bottom: 1px solid #e5e5e5;
        display: block;
        padding: 18px 0 24px;
        margin: 0 10px; }
        .top_menu .is-megamenu ul.content > li > a:hover {
          color: #333; }
        @media (min-width: 988px) and (max-width: 1211px) {
          .top_menu .is-megamenu ul.content > li > a {
            font: bold 13px/20px "Ubuntu", sans-serif;
            padding: 8px 0 14px;
            margin: 0; } }
    .top_menu .is-megamenu ul.content ul {
      padding-top: 17px;
      opacity: 1 !important;
      display: block !important; }
    .top_menu .is-megamenu ul.content > li.html {
      background: #262626;
      padding: 31px 20px 18px;
      text-align: center;
      font-size: 12px;
      line-height: 22px; }
      .top_menu .is-megamenu ul.content > li.html:before {
        display: inline-block;
        content: " ";
        background: url(../../../../../img/slider-logo.png) no-repeat;
        background-size: cover;
        width: 65px;
        height: 57px; }
      .top_menu .is-megamenu ul.content > li.html h3 {
        font: bold 45px/1em "Ubuntu", sans-serif;
        margin: 3px 0 15px;
        color: #fff; }
      @media (min-width: 1212px) and (max-width: 1419px) {
        .top_menu .is-megamenu ul.content > li.html {
          padding: 31px 20px 18px; }
          .top_menu .is-megamenu ul.content > li.html:before {
            width: 45px;
            height: 39px; }
          .top_menu .is-megamenu ul.content > li.html h3 {
            font: bold 25px/1em "Ubuntu", sans-serif;
            margin: 3px 0 10px; }
          .top_menu .is-megamenu ul.content > li.html p {
            font-size: 11px; } }
      @media (min-width: 988px) and (max-width: 1211px) {
        .top_menu .is-megamenu ul.content > li.html {
          padding: 31px 20px 18px; }
          .top_menu .is-megamenu ul.content > li.html:before {
            width: 45px;
            height: 39px; }
          .top_menu .is-megamenu ul.content > li.html h3 {
            font: bold 25px/1em "Ubuntu", sans-serif;
            margin: 10px 0 10px; }
          .top_menu .is-megamenu ul.content > li.html p {
            display: none; } }
    .top_menu .is-megamenu ul.content > li.product-info {
      border: 1px solid #e5e5e5;
      padding: 20px; }
      @media (min-width: 1212px) and (max-width: 1419px) {
        .top_menu .is-megamenu ul.content > li.product-info {
          padding: 5px; } }
      @media (min-width: 988px) and (max-width: 1211px) {
        .top_menu .is-megamenu ul.content > li.product-info {
          padding: 2px; } }
      @media (max-width: 987px) {
        .top_menu .is-megamenu ul.content > li.product-info {
          margin-top: 20px; } }
      .top_menu .is-megamenu ul.content > li.product-info .product {
        position: relative; }
        .top_menu .is-megamenu ul.content > li.product-info .product .product-image {
          background: #f1f1f1; }
          .top_menu .is-megamenu ul.content > li.product-info .product .product-image a {
            display: block;
            padding: 0; }
        .top_menu .is-megamenu ul.content > li.product-info .product img {
          opacity: 0.8;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
        .top_menu .is-megamenu ul.content > li.product-info .product .product-description {
          display: none; }
        .top_menu .is-megamenu ul.content > li.product-info .product:hover {
          cursor: pointer; }
          .top_menu .is-megamenu ul.content > li.product-info .product:hover img {
            opacity: 1; }
          .top_menu .is-megamenu ul.content > li.product-info .product:hover .info_block {
            background: rgba(51, 51, 51, 0.8); }
        .top_menu .is-megamenu ul.content > li.product-info .product .info_block {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          color: #fff;
          background: rgba(51, 51, 51, 0.4);
          text-align: center;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
          .top_menu .is-megamenu ul.content > li.product-info .product .info_block .product-name {
            margin: 0;
            font-size: 11px;
            padding-top: 10px; }
            .top_menu .is-megamenu ul.content > li.product-info .product .info_block .product-name a {
              padding: 0;
              font-size: 11px;
              color: #fff; }
            @media (min-width: 988px) and (max-width: 1211px) {
              .top_menu .is-megamenu ul.content > li.product-info .product .info_block .product-name {
                font-size: 10px; }
                .top_menu .is-megamenu ul.content > li.product-info .product .info_block .product-name a {
                  font-size: 10px; } }
          .top_menu .is-megamenu ul.content > li.product-info .product .info_block .price {
            color: #fff; }
            .top_menu .is-megamenu ul.content > li.product-info .product .info_block .price.new-price {
              font-size: 14px;
              font-weight: 500; }
  .top_menu .megamenu-row-2 > div {
    padding-top: 5px;
    padding-bottom: 5px; }
  .top_menu .megamenu-row-2 ul.content > li > a {
    border: none;
    padding: 0;
    margin: 0; }
    .top_menu .megamenu-row-2 ul.content > li > a img {
      opacity: 0.8;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .top_menu .megamenu-row-2 ul.content > li > a:hover img {
      opacity: 1; }
  .top_menu .menu-title {
    position: relative;
    background: none;
    padding: 21px 5px 22px;
    font: 300 14px/22px "Ubuntu", sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .top_menu .menu-title:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background: #222;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      height: 100%;
      z-index: -1; }
    .top_menu .menu-title.active {
      color: #262626; }
      .top_menu .menu-title.active:before {
        top: 100%; }
    @media only screen and (min-width: 988px) {
      .top_menu .menu-title {
        display: none; } }
  .top_menu .menu-mobile-grover:before {
    position: absolute;
    content: "\f067";
    font-family: 'FontAwesome';
    font-size: 21px;
    top: 12px;
    right: 18px;
    cursor: pointer;
    z-index: 1; }
    @media only screen and (min-width: 988px) {
      .top_menu .menu-mobile-grover:before {
        display: none; } }
  .top_menu .menu-mobile-grover.active:before {
    content: "\f068"; }
  @media (max-width: 987px) {
    .top_menu .is-simplemenu li {
      border-top: 1px solid #ccc; }
      .top_menu .is-simplemenu li .menu-mobile-grover:before {
        top: 8px;
        right: 0;
        font-size: 18px; }
      .top_menu .is-simplemenu li a {
        display: block;
        font-size: 14px;
        padding: 8px 10px; }
      .top_menu .is-simplemenu li li a {
        padding-left: 20px; }
      .top_menu .is-simplemenu li li li a {
        padding-left: 30px; }
      .top_menu .is-simplemenu li li li li a {
        padding-left: 40px; }
    .top_menu li.simple ul {
      display: none; }
    .top_menu .megamenu-col.col-sm-3 {
      float: left;
      width: 50%; }
      .top_menu .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left; } }
  @media (max-width: 479px) {
    .top_menu .megamenu-col.col-sm-3 {
      width: 100%; } }

.isStuck .top_menu > ul > li > a:after {
  display: none; }
.isStuck .is-megamenu {
  margin: 0; }

.red {
  background: #f00; }

/**** Left/Right column menu ****/
.left_column_menu .block_content li, .right_column_menu .block_content li {
  position: relative; }
.left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
  display: none; }
  @media only screen and (min-width: 988px) {
    .left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
      position: absolute;
      top: -1px;
      width: 200px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 999; } }
  @media (max-width: 987px) {
    .left_column_menu .block_content li.simple ul li, .right_column_menu .block_content li.simple ul li {
      border-top: 1px solid #ccc;
      position: relative; }
      .left_column_menu .block_content li.simple ul li a, .right_column_menu .block_content li.simple ul li a {
        display: block;
        padding: 10px 0 10px 15px;
        position: relative; }
      .left_column_menu .block_content li.simple ul li li a, .right_column_menu .block_content li.simple ul li li a {
        padding-left: 25px; } }
.left_column_menu .block_content > ul > li, .right_column_menu .block_content > ul > li {
  border-top: 1px solid #ccc;
  position: relative; }
  .left_column_menu .block_content > ul > li > a, .right_column_menu .block_content > ul > li > a {
    display: block;
    padding: 10px 0;
    position: relative; }
  .left_column_menu .block_content > ul > li:first-child, .right_column_menu .block_content > ul > li:first-child {
    border: none; }
.left_column_menu .block_content span.menu_badge, .right_column_menu .block_content span.menu_badge {
  font-size: 10px;
  display: inline-block;
  background: #f00;
  color: #fff;
  padding: 1px 5px 2px 5px;
  line-height: 12px;
  border-radius: 3px;
  margin-left: 10px; }
.left_column_menu .block_content li.simple li a, .right_column_menu .block_content li.simple li a {
  padding: 4px 5px;
  display: block; }
.left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
  display: none; }
  .left_column_menu .block_content div.is-megamenu ul, .right_column_menu .block_content div.is-megamenu ul {
    display: block !important;
    opacity: 1 !important; }
    .left_column_menu .block_content div.is-megamenu ul.content > li > a, .right_column_menu .block_content div.is-megamenu ul.content > li > a {
      font-weight: bold;
      text-transform: uppercase; }
    .left_column_menu .block_content div.is-megamenu ul.content > li li, .right_column_menu .block_content div.is-megamenu ul.content > li li {
      padding-left: 5px; }
  @media only screen and (min-width: 988px) {
    .left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
      position: absolute;
      top: 0;
      width: 600px;
      padding: 15px;
      background: #fff;
      border: 1px solid #ccc;
      z-index: 999; } }
  @media (min-width: 480px) and (max-width: 987px) {
    .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3 {
      width: 50%;
      float: left; }
      .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left; } }
.left_column_menu .block_content .menu-mobile-grover:after, .right_column_menu .block_content .menu-mobile-grover:after {
  position: absolute;
  right: 0;
  top: 12px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  font-size: 15px;
  content: "\f067";
  font-family: 'FontAwesome';
  z-index: 1;
  cursor: pointer; }
.left_column_menu .block_content .menu-mobile-grover.active:after, .right_column_menu .block_content .menu-mobile-grover.active:after {
  content: "\f068"; }

.left_column_menu li.simple ul {
  right: -200px; }

.right_column_menu li.simple ul {
  left: -200px; }

.left_column_menu div.is-megamenu {
  right: -600px; }

.right_column_menu div.is-megamenu {
  left: -600px; }
