/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
  margin: 0 0 26px 0;
  line-height: 22px; }
  .content_scene_cat span.category-name {
    font: bold 36px/45px "Ubuntu", sans-serif;
    margin: -10px 0 14px;
    display: inline-block;
    color: #333; }
    @media (max-width: 1419px) {
      .content_scene_cat span.category-name {
        font-size: 25px;
        line-height: 30px; } }
  .content_scene_cat p {
    margin-bottom: 0; }
  .content_scene_cat a.lnk_more {
    color: #000; }
  .content_scene_cat a:hover {
    color: #888; }
  .content_scene_cat .content_scene {
    color: #888888; }
    .content_scene_cat .content_scene .cat_desc {
      padding-top: 20px; }
      .content_scene_cat .content_scene .cat_desc a {
        color: #888888; }
        .content_scene_cat .content_scene .cat_desc a:hover {
          color: #333333; }

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories {
  border-top: 1px solid #e5e5e5;
  padding: 25px 0 0 0; }
  #subcategories p.subcategory-heading {
    font: bold 16px/24px "Ubuntu", sans-serif;
    color: #333333;
    margin: 0 0 24px 0; }
  #subcategories ul {
    margin: 0 0 0 -30px; }
    #subcategories ul li {
      float: left;
      width: 150px;
      margin: 0 0 30px 30px;
      text-align: center;
      position: relative;
      overflow: hidden; }
      #subcategories ul li .subcategory-image a {
        display: block;
        border: 1px solid #e5e5e5; }
        #subcategories ul li .subcategory-image a img {
          max-width: 100%;
          height: auto; }
          @media (min-width: 1420px) {
            #subcategories ul li .subcategory-image a img {
              opacity: 0.8;
              -moz-transition: 0.3s;
              -o-transition: 0.3s;
              -webkit-transition: 0.3s;
              transition: 0.3s; } }
      #subcategories ul li h5 {
        margin: 0; }
      #subcategories ul li .subcategory-name {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
        padding: 3px;
        font-size: 10px;
        line-height: 15px;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      #subcategories ul li .cat_desc {
        display: none; }
      #subcategories ul li:hover .subcategory-image a img {
        opacity: 1; }
      #subcategories ul li:hover .subcategory-name {
        background: rgba(0, 0, 0, 0.7); }
