@import 'compass';
@import "../../../../_theme_variables";

$icon: 						'\f067';
$icon-active: 				'\f068';
$menu-main-font: 			300 14px/22px $font-family;

.stickUpTop {
	background: #58bdab;
	position:static;
	width:100%;
	left:0;
	top:0;
	z-index: 1;
}
.stickUpHolder {
	padding:0;
	max-width:100%;
}
@media only screen and (max-width:$screen-md-max){
	.isStuck .container {
		padding-left:15px;
		padding-right:15px;	
	}
}

.top_menu {
	clear: both;
	text-align:center;
	position:relative;
	@media (max-width: $screen-xs-max) { // max 767px
		padding:0 65px;
		background:#f4f4f4;
	}
	> ul {
		padding:0;
		margin:0;
		@media (max-width: $screen-xs-max) { // max 767px
			padding:20px 0;
		}
		> li {
			display:inline-block;
			padding:14px 0 0;
			@media (max-width: $screen-xs-max) { // max 767px
				padding:10px 20px;
			}
			> a {
				font: bold 16px/24px $font-custom;
				text-transform: uppercase;
				color: #374046;
				display: block;
				padding: 5px 23px 17px;
				position:relative;
				@include transition(all 0.2s ease);
				@media (max-width: $screen-xs-max) { // max 767px
					padding:0;
				}
				&:after {
					background: #fff;
					bottom: -20px;
					content: " ";
					position: absolute;
					left: 0;
					height: 0;
					width: 100%;
					@media (min-width: $screen-lg) { // min 1200px
						transform: translateX(-50%);
						left: 50%;
						width: 30%;
						transition: height 0.15s ease, bottom 0.15s ease, width 0.2s ease-in-out 0.15s, opacity 0.3s ease, background 0.3s ease;
					}
					@media (max-width: $screen-xs-max) { // max 767px
						display:none;
					}
				}
				@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
					font: bold 15px/21px $font-custom;
					padding: 5px 15px 17px;
				}
			}
			&:hover > a, &.sfHover > a, &.sfHoverForce > a, > a:hover {
				color: $light-text-color;
				.menu_badge { color:#F00;}
				&:after {
					height: 8px;
					@media (min-width: $screen-lg) { // min 1200px
						width: 100%;
					}
				}
			}

			&:hover {
				> span.menu-mobile-grover:before {
					color:#fff;	
				}
			}

			ul.is-simplemenu, ul.is-simplemenu ul {
				@media only screen and (min-width: $screen-sm) { // min 768px
					display:none;
					width:200px;
					top:-1px;
					right:-200px;
					position:absolute;
					z-index:99;
					border:1px solid #ccc;
					background:#fff;
				}
				@media (max-width: $screen-xs-max) { // max 767px
					background:#fff;
				}
			}

			> ul.is-simplemenu {
				right:auto;
				left:0;
				top:59px;
				font:$menu-main-font;
			}
			@media (max-width: $screen-xs-max) { // max 767px
				width:100%;
				float:none;
				position:relative;
				> a {
					border-right:none;	
				}
			}
		}
	}

	ul.menu {
		@media (max-width: $screen-xs-max) { // max 767px
			background:#222;
			display: none;
			left: 0;
			position: absolute;
			top: 100%;
			width: 100%;
			text-align:left;
		}
	}

	li {
		a {
			position:relative;
		}

		&.simple, li {
			position:relative;
		}
		li {
			a {
				display:block;
				padding:6px 10px;
				@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
					padding:3px 0;
				}
			}
			&.sfHover > a, &:hover > a, &.sfHoverForce > a {
				color:#262626;	
			}
		}
	}

	.menu_badge {
		color: #fff;
		display: inline-block;
		font-size: 10px;
		line-height: 12px;
		margin-left: 10px;
		padding: 1px 5px 2px;
		position: absolute;
		right: -5px;
		top: -8px;
		z-index: 2;
		@include transition(all 0.2s ease);
	}

	ul {
		li {
			&:hover {
				> ul, > div {

				}
			}
		}
	}

	.is-megamenu {
		width:100%;
		border:2px solid #262626;
		border-top:none;
		padding:0 15px;
		background:#fff;
		display: none;
		font:$menu-main-font;
		margin-top:10px;
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
			font:normal 11px/17px $font-family;
		}
		@media only screen and (min-width: $screen-sm) { // min 768px
			position:absolute;
			top:100%;
			left:0;
			margin-top:20px;
		}
		.megamenu-row {
			padding-top:15px;
			padding-bottom:20px;

			+ .megamenu-row {
				margin: 0 -5px;
				@media only screen and (min-width: $screen-sm) { // min 768px
					padding-top:0;
					> div { 
						padding-top:0; padding-bottom:0;
						&.megamenu-col-2-2 { 
							padding-left:0; padding-right:0;
						}
					}
				}
				img {
					margin:0 auto;
					width: 100%;
				}
			}
		}

		ul.content {
			> li {
				text-align:left;
				> a {
					font:bold 16px/24px $font-family;
					color:#58bdab;
					border-bottom:$main_border;
					display:block;
					padding:18px 0 24px;
					margin: 0 10px;
					&:hover {
						color:#333;	
					}
					@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
						font:bold 13px/20px $font-family;
						padding:8px 0 14px;
						margin: 0;
					}
				}
			}
			ul {
				padding-top:17px;
				opacity:1 !important;
				display:block !important;	
			}
			> li.html {
				background:#262626;
				padding:31px 20px 18px;
				text-align:center;
				font-size:12px;
				line-height:22px;
				&:before {
					display:inline-block;
					content:" ";
					background: url(../../../../../img/slider-logo.png) no-repeat;
					background-size:cover;
					width:65px;
					height:57px;
				}
				h3 {
					font: bold 45px / 1em $font-custom;
					margin:3px 0 15px;
					color:#fff;
				}
				@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
					padding:31px 20px 18px;
					&:before {
						width:45px;
						height:39px;
					}
					h3 {
						font: bold 25px / 1em $font-custom;
						margin:3px 0 10px;
					}
					p { font-size:11px;}
				}
				@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
					padding:31px 20px 18px;
					&:before {
						width:45px;
						height:39px;
					}
					h3 {
						font: bold 25px / 1em $font-custom;
						margin:10px 0 10px;
					}
					p { display:none;}
				}
			}
			> li.product-info {
				border:$main_border;
				padding: 20px;
				@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
					padding: 5px;
				}
				@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
					padding: 2px;
				}
				@media (max-width: $screen-xs-max) { // max 767px
					margin-top:20px;
				}
				.product {
					position: relative;
					.product-image {
						background:#f1f1f1;
						a {
							display:block;
							padding:0;
						}
					}
					img {
						opacity:0.8;
						@include transition(.3s);	
					}
					.product-description {
						display:none;	
					}
					&:hover {
						cursor:pointer;
						img {
							opacity:1;	
						}
						.info_block {
							background:rgba(51,51,51,0.8);	
						}
					}
					.info_block {
						position:absolute;
						bottom:0;
						left:0;
						width:100%;
						color:#fff;
						background:rgba(51,51,51,0.4);
						text-align:center;
						@include transition(.3s);	
						.product-name {
							margin:0;
							font-size:11px;
							padding-top:10px;
							a {
								padding:0;
								font-size:11px;
								color:#fff;
							}
							@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
								font-size:10px;
								a {
									font-size:10px;
								}
							}
						}
						.price {
							color:#fff;
							&.new-price {
								font-size:14px;
								font-weight:500;	
							}
						}
					}
				}
			}
		}
	}
	.megamenu-row-2 {
		> div { padding-top:5px; padding-bottom:5px;}
		ul.content > li > a	 { 
			border:none; padding:0; margin:0;
			img {
				opacity:0.8;
				@include transition(.3s);	
			}
			&:hover img {
				opacity:1;	
			}
		}
	}
	.menu-title {
		position:relative;
		background: none;
		padding:21px 5px 22px;
		font:$menu-main-font;
		color:#fff;
		text-transform:uppercase;
		cursor:pointer;
		z-index:1;
		overflow:hidden;
		@include transition(all 0.5s ease);
		&:before {
			content:"";
			position:absolute;
			left:0;
			top:0;
			width:100%;
			background:#222;
			@include transition(all 0.5s ease);
			height:100%;
			z-index:-1;
		}
		&.active {
			color:#262626;
			&:before {
				top:100%;	
			}
		}
		@media only screen and (min-width: $screen-sm) { // min 768px
			display:none;	
		}
	}

	.menu-mobile-grover:before {
		position:absolute;
		content:$icon;
		font-family:'FontAwesome';
		font-size:21px;
		top:12px;
		right:18px;
		cursor:pointer;
		z-index:1;
		@media only screen and (min-width: $screen-sm) { // min 768px
			display:none;	
		}
	}
	.menu-mobile-grover.active:before {
		content:$icon-active;
	}
	@media (max-width: $screen-xs-max) { // max 767px
		.is-simplemenu {
			li {
				border-top:1px solid #ccc;
				.menu-mobile-grover {
					&:before {
						top:8px;
						right:0;
						font-size:18px;	
					}
				}
				a {
					display:block;
					font-size:14px;
					padding:8px 10px;	
				}
				li {
					a {
						padding-left:20px;	
					}
					li {
						a {
							padding-left:30px;
						}
						li {
							a {
								padding-left:40px;	
							}
						}
					}
				}
			}
		}
		li.simple ul {
			display:none;	
		}
		.megamenu-col.col-sm-3 {
			float:left;
			width:50%;
			&.first-in-line-sm {
				clear:left;	
			}
		}
	}
	@media (max-width: $screen-xs - 1) { // max 479px
		.megamenu-col.col-sm-3 {
			width:100%;
		}
	}
}
.isStuck {
	.top_menu > ul > li > a {
		&:after {
			display:none;
		}
	}
	.is-megamenu {
		margin:0;	
	}
}
.red {
	background:#f00;	
}

/**** Left/Right column menu ****/
.left_column_menu .block_content, .right_column_menu .block_content {
	li {
		position:relative;	
	}
	li.simple ul {
		display:none;
		@media only screen and (min-width: $screen-sm) { // min 768px
			position:absolute;
			top:-1px;
			width:200px;
			border:1px solid #ccc;
			background:#fff;
			z-index:999;	
		}
		@media (max-width: $screen-xs-max) { // max 767px
			li {
				border-top:1px solid #ccc;
				position:relative;
				a {
					display:block;
					padding:10px 0 10px 15px;
					position:relative;
				}
				li {
					a {
						padding-left:25px;	
					}
				}
			}	
		}	
	}
	> ul > li {
		border-top:1px solid #ccc;
		position:relative;
		> a {
			display:block;
			padding:10px 0;
			position:relative;		
		}
		&:first-child {
			border:none;
		}
	}
	span.menu_badge {
		font-size:10px;
		display:inline-block;
		background:#f00;
		color:#fff;
		padding:1px 5px 2px 5px;
		line-height:12px;
		border-radius:3px;
		margin-left:10px;	
	}
	li.simple li a {
		padding:4px 5px;
		display:block;	
	}
	div.is-megamenu {
		display:none;
		ul {
			display:block !important;
			opacity:1 !important;
			&.content {
				> li {
					> a {
						font-weight:bold;
						text-transform:uppercase;	
					}
					li {
						padding-left:5px;	
					}
				}
			}
		}
		@media only screen and (min-width: $screen-sm) { // min 768px
			position:absolute;
			top:0;
			width:600px;
			padding:15px;
			background:#fff;
			border:1px solid #ccc;
			z-index:999;
		}
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
			.megamenu-col.col-sm-3 {
				width:50%;
				float:left;
				&.first-in-line-sm {
					clear:left;	
				}
			}
		}
	}
	.menu-mobile-grover {
		&:after {
			position:absolute;
			right:0;
			top:12px;
			height:15px;
			width:15px;
			line-height:15px;
			font-size:15px;
			content:$icon;
			font-family:'FontAwesome';
			z-index:1;
			cursor:pointer;
		}
		&.active {
			&:after {
				content:$icon-active;
			}
		}
	}
}

.left_column_menu li.simple ul {
	right:-200px;	
}
.right_column_menu li.simple ul {
	left:-200px;	
}
.left_column_menu div.is-megamenu {
	right:-600px;	
}
.right_column_menu div.is-megamenu {
	left:-600px;	
}