<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cookieslaw</name>
	<displayName><![CDATA[Cookies Law]]></displayName>
	<version><![CDATA[0.3]]></version>
	<description><![CDATA[The 2012 EU Cookie law requires that sites seek positive consent to allow the storing of certain cookies.]]></description>
	<author><![CDATA[Art Acherman]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>