@import 'compass';
@import 'bootstrap_lib/_variables';

$color_theme:			#ee7164;
$color_theme2:			#f1f1f1;
$color_theme3:			#333;
$color_theme4:			#484848;

header {
	background: $color_theme;
	#stickBox .stickUpTop.isStuck {
		background-color: $color_theme
	}
	#stickBox .stickUpTop {
		background: $color_theme;	
	}
	#currencies-block-top, #languages-block-top {
		ul {
			background: $color_theme;
			li {
				&.selected, &:hover a {
					background-color: darken($color_theme,5);
				}
			}
		}
	}
	.top_menu .is-megamenu ul.content > li > a {
		color:$color_theme;	
	}
	.top_menu .is-megamenu ul.content > li.html {
		background: $color_theme;
		color: lighten($color_theme,30);
	}
	.top_menu .is-megamenu {
		border-color: $color_theme;	
	}
	.top_menu ul.menu {
		@media (max-width: $screen-xs-max) { // max 767px
			background: $color_theme;
			color: lighten($color_theme,30);
		}	
	}
	.top_menu > ul > li:hover > a .menu_badge, .top_menu > ul > li.sfHover > a .menu_badge, .top_menu > ul > li.sfHoverForce > a .menu_badge, .top_menu > ul > li > a:hover .menu_badge { color: lighten($color_theme,30);}
}

.shopping_cart > a:first-child::before {
	color:$color_theme;	
}

.nav {
	#tmsearch .currentBox.active + input + .btn.button-search::before {
		color:$color_theme;
	}
	#header-login .header_user_info.currentBox.active a::before	{
		color:$color_theme;
	}
	.currency_language .currentBox.active::before {
		color:$color_theme;
	}
	#header-login-content li .form_content p button, 
	#header-login-content li .form_content p a	{
		background: $color_theme;
	}
}

.tmnewsletter-header h4 {
	color:$color_theme!important;
}

.tab-content .bx-controls.bx-has-pager .bx-pager .bx-pager-item a:hover, 
.tab-content .bx-controls.bx-has-pager .bx-pager .bx-pager-item a.active {
	background: $color_theme!important;
}
#toTop::before {
	background: $color_theme;
}

#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: $color_theme;
}

.product-name a:hover,
a.product-name:hover {
	color:$color_theme;	
}

#home-page-tabs {
	> li {
		&:before {
			background:$color_theme;
		}
	}
}
#home-page-tabs > li.active a, #home-page-tabs > li a:hover {
	color:$color_theme;
}

.sale-label {
	background:$color_theme;
}

.price-percent-reduction {
	background:$color_theme;
}

#productscategory_list .product-name a:hover, 
.accessories-block .product-name a:hover {
	color:$color_theme;
}

div.star.star_on::after,
#product_comments_block_extra div.star_on::after {
	color:$color_theme!important;
}

ul.product_list .functional-buttons div a:hover, 
ul.product_list .functional-buttons div label:hover {
	color:$color_theme;
}

.btn.btn-default {
	background:$color_theme;
	color: lighten($color_theme,100);
	border-color:$color_theme;
	&:hover,
	&:active,
	&:focus {
		background:none;
		border-color:$color_theme;
		color:$color_theme;	
	}
}
ul.product_list .product-image-container .quick-view {
	background:$color_theme;
	&:hover {
		background-color: darken($color_theme,10);
	}
}
#layer_cart {
	.layer_cart_product {
		h2 {
			color:$color_theme;
		}
	}
}
.content_scene_cat {
	span.category-name {
		color: $color_theme;
	}
}

ul.step li.step_current, ul.step li.step_current span:after {
  	background:$color_theme;
	border-color:darken($color_theme, 20);
}
#index #homepage-blog li {
		color:lighten($color_theme, 30);
}
.home-column {
	background:$color_theme2;	
	#tmhtmlcontent_home ul li .item-html {
		color:lighten($color_theme, 30);	
		h2 {
			color: $color_theme;
		}
		p {
			color: $color_theme3;
		}
	}
	#homepage-blog li {
		h5 a {
			color: $color_theme;
			&:hover {
				color: $color_theme3;
			}
		}
		p {
			color: $color_theme3;
		}
		.date-added {
			color: $color_theme3;
			&:before {
				color: $color_theme;
			}
		}
	}
}

.block .title_block a:hover, .block h4 a:hover {
	 color: $color_theme;
}

#cart_summary tfoot td#total_price_container {
  color: $color_theme;	
}
.label-success {
	background-color:darken($color_theme, 10);
}

.footer-container {
	.footer-container-inner {
		background:$color_theme2;
	}
	#footer {
		border-top:1px solid lighten($color_theme3, 60%);
		a {
			color: $color_theme3;
			&:hover {
				color: $color_theme;
			}
		}
		h4 {
			color: $color_theme;
			a {	
				color: $color_theme;			
				&:hover {
					color: $color_theme3;
				}
			}
		}
		#social_block {
			ul {
				li {
					a {
						color: #fff;
						background:$color_theme3;
						&:hover {
							background:$color_theme;
						}
					}
				}
			}
		}
		.bottom-footer {
			background:$color_theme4;
			a {
				color: #fff;
				&:hover {
					color: $color_theme;
				}
			}
		}
	}
}

#footer {
	#newsletter_block_left {
		.form-group {
			background: #b9b9b9;
			.btn-sm {
				background: $color_theme;
				&:hover {
					background:darken($color_theme, 10);
				}	
			}
		}
	}
}

.top-pagination-content ul.pagination li.pagination_previous > a:hover, .top-pagination-content ul.pagination li.pagination_next > a:hover, 
.bottom-pagination-content ul.pagination li.pagination_previous > a:hover, .bottom-pagination-content ul.pagination li.pagination_next > a:hover,
.top-pagination-content div.pagination .showall .btn.btn-default:hover, .bottom-pagination-content div.pagination .showall .btn.btn-default:hover {
	color: $color_theme!important;
}