/* -------*--------------------------------------------------------------------------------------------------------
										 Social Sharing 
------------------------------------------------------------------------------------------------------------------- */
.btn.btn-default.btn-facebook {
  color: white;
  border-color: #435f9f;
  background-color: #435f9f; }
  .btn.btn-default.btn-facebook i {
    color: white; }
  .btn.btn-default.btn-facebook:hover {
    background: none;
    color: #435f9f; }
    .btn.btn-default.btn-facebook:hover i {
      color: #435f9f; }

.btn.btn-default.btn-twitter {
  color: white;
  border-color: #00aaf0;
  background-color: #00aaf0; }
  .btn.btn-default.btn-twitter i {
    color: white; }
  .btn.btn-default.btn-twitter:hover {
    background: none;
    color: #00aaf0; }
    .btn.btn-default.btn-twitter:hover i {
      color: #00aaf0; }

.btn.btn-default.btn-google-plus {
  color: white;
  border-color: #e04b34;
  background-color: #e04b34; }
  .btn.btn-default.btn-google-plus i {
    color: white; }
  .btn.btn-default.btn-google-plus:hover {
    background: none;
    color: #e04b34; }
    .btn.btn-default.btn-google-plus:hover i {
      color: #e04b34; }

.btn.btn-default.btn-pinterest {
  color: white;
  border-color: #ce1f21;
  background-color: #ce1f21; }
  .btn.btn-default.btn-pinterest i {
    color: white; }
  .btn.btn-default.btn-pinterest:hover {
    background: none;
    color: #ce1f21; }
    .btn.btn-default.btn-pinterest:hover i {
      color: #ce1f21; }
