header {
  background: #637284; }
  header #stickBox .stickUpTop.isStuck {
    background-color: #637284; }
  header #stickBox .stickUpTop {
    background: #637284; }
  header #currencies-block-top ul, header #languages-block-top ul {
    background: #637284; }
    header #currencies-block-top ul li.selected, header #currencies-block-top ul li:hover a, header #languages-block-top ul li.selected, header #languages-block-top ul li:hover a {
      background-color: #586575; }
  header .top_menu .is-megamenu ul.content > li > a {
    color: #637284; }
  header .top_menu > ul > li > a {
    color: #99a7b1; }
  header .top_menu .is-megamenu ul.content > li.html {
    background: #637284;
    color: #b7bfc9; }
  header .top_menu .is-megamenu {
    border-color: #637284; }
  @media (max-width: 987px) {
    header .top_menu ul.menu {
      background: #637284;
      color: #b7bfc9; } }
  header .top_menu > ul > li:hover > a .menu_badge, header .top_menu > ul > li.sfHover > a .menu_badge, header .top_menu > ul > li.sfHoverForce > a .menu_badge, header .top_menu > ul > li > a:hover .menu_badge {
    color: #b7bfc9; }

.shopping_cart > a:first-child::before {
  color: #637284; }

.nav #tmsearch .currentBox.active + input + .btn.button-search::before {
  color: #637284; }
.nav #header-login .header_user_info.currentBox.active a::before {
  color: #637284; }
.nav .currency_language .currentBox.active::before {
  color: #637284; }
.nav #header-login-content li .form_content p button,
.nav #header-login-content li .form_content p a {
  background: #637284; }

.tmnewsletter-header h4 {
  color: #637284 !important; }

.tab-content .bx-controls.bx-has-pager .bx-pager .bx-pager-item a:hover,
.tab-content .bx-controls.bx-has-pager .bx-pager .bx-pager-item a.active {
  background: #637284 !important; }

#toTop::before {
  background: #637284; }

#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #637284; }

.product-name a:hover,
a.product-name:hover {
  color: #637284; }

#home-page-tabs > li:before {
  background: #637284; }

#home-page-tabs > li.active a, #home-page-tabs > li a:hover {
  color: #637284; }

.sale-label {
  background: #637284; }

.price-percent-reduction {
  background: #637284; }

#productscategory_list .product-name a:hover,
.accessories-block .product-name a:hover {
  color: #637284; }

div.star.star_on::after,
#product_comments_block_extra div.star_on::after {
  color: #637284 !important; }

ul.product_list .functional-buttons div a:hover,
ul.product_list .functional-buttons div label:hover {
  color: #637284; }

.btn.btn-default {
  background: #637284;
  color: white;
  border-color: #637284; }
  .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus {
    background: none;
    border-color: #637284;
    color: #637284; }

ul.product_list .product-image-container .quick-view {
  background: #637284; }
  ul.product_list .product-image-container .quick-view:hover {
    background-color: #4d5967; }

#layer_cart .layer_cart_product h2 {
  color: #637284; }

.content_scene_cat span.category-name {
  color: #637284; }

ul.step li.step_current, ul.step li.step_current span:after {
  background: #637284;
  border-color: #37404a; }

#index #homepage-blog li {
  color: #b7bfc9; }

.home-column {
  background: #e8ecef; }
  .home-column #tmhtmlcontent_home ul li .item-html {
    color: #b7bfc9; }
    .home-column #tmhtmlcontent_home ul li .item-html h2 {
      color: #637284; }
    .home-column #tmhtmlcontent_home ul li .item-html p {
      color: #333333; }
  .home-column #homepage-blog li h5 a {
    color: #637284; }
    .home-column #homepage-blog li h5 a:hover {
      color: #333333; }
  .home-column #homepage-blog li p {
    color: #333333; }
  .home-column #homepage-blog li .date-added {
    color: #333333; }
    .home-column #homepage-blog li .date-added:before {
      color: #637284; }

.block .title_block a:hover, .block h4 a:hover {
  color: #637284; }

#cart_summary tfoot td#total_price_container {
  color: #637284; }

.label-success {
  background-color: #4d5967; }

.footer-container .footer-container-inner {
  background: #e8ecef; }
.footer-container #footer a {
  color: #333333; }
  .footer-container #footer a:hover {
    color: #637284; }
.footer-container #footer h4 {
  color: #637284; }
  .footer-container #footer h4 a {
    color: #637284; }
    .footer-container #footer h4 a:hover {
      color: #333333; }
.footer-container #footer #social_block ul li a {
  color: #fff;
  background: #99a7b1; }
  .footer-container #footer #social_block ul li a:hover {
    background: #637284; }
.footer-container #footer .bottom-footer {
  background: #4c5867; }
  .footer-container #footer .bottom-footer a {
    color: #fff; }
    .footer-container #footer .bottom-footer a:hover {
      color: #99a7b1; }

#footer #newsletter_block_left .form-group {
  background: #99a7b1; }
  #footer #newsletter_block_left .form-group .btn-sm {
    background: #637284; }
    #footer #newsletter_block_left .form-group .btn-sm:hover {
      background: #4d5967; }

.top-pagination-content ul.pagination li.pagination_previous > a:hover, .top-pagination-content ul.pagination li.pagination_next > a:hover,
.bottom-pagination-content ul.pagination li.pagination_previous > a:hover, .bottom-pagination-content ul.pagination li.pagination_next > a:hover,
.top-pagination-content div.pagination .showall .btn.btn-default:hover, .bottom-pagination-content div.pagination .showall .btn.btn-default:hover {
  color: #637284 !important; }
