@import "../../../../_theme_variables";

#tmsearch {
	position:relative;
	border-bottom:1px solid #fff;
	@include transition (all 0.25s ease);
	@media (max-width: $screen-xs-max) { // max 767px
		border:none;
		margin-bottom:1px;
		background:#f8f8f8;
	}
	&:hover {
		background: #f0f0f0;
	}		
	.btn.button-search {
		background: none;
		display: block;
		height:100px;
		width:100%;
		border: none;
		text-align: center;
		line-height:100px;
		color:#bdbdbd;
		padding:0;
		@media (max-width: $screen-xs-max) { // max 767px
			height:65px;
			line-height:65px;
		}
		span {
			display: none;
		}
		&:before {
			content: "\e13d";
			font-family: $flat-icon;
			font-size: 31px;
			@include transition(all 0.1s ease);
		}
		&:hover {
			color:#333;
		}
	}
	#tm_search_query {
		display: none;
		padding: 40px 29px 40px 29px;
		height: 100px;
		border:none;
		background:#f8f8f8;
		position:absolute;
		top:0;
		right:100%;
		text-transform:uppercase;
		width:264px;
		@media (max-width: $screen-xs-max) { // max 767px
			width:255px;
			height: 65px;
			padding: 23px 12px 20px 12px;
		}
	}
	.currentBox {
		position:absolute;
		right:0;
		top:0;
		height:100%;
		width:100%;
		z-index:1;
		cursor:pointer;
		&.active {
			display:none;	
			+ input {
				animation: 0.4s ease-in-out 0s normal none 1 moveFromLeft;
				-webkit-animation: 0.4s ease-in-out 0s normal none 1 moveFromLeft;
				+ .btn.button-search:before { font-size:41px; color:#58bdab;}
			}
		}
	}
}	
	
	

body .ac_results {
  background: #e9e9e9;
  border: none;
  width:263px !important;
  margin-top: -1px;
  @media (max-width: $screen-xs-max) { // max 767px
			width:254px !important;
  }
   }
  body .ac_results li {
	  padding:0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: #fbfbfb; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fff; }
	  	.ac_results .pull-left {
			margin-right:10px;
		}
		.ac_results .content {
			overflow:hidden;	
		}
	  	.ac_results span.reference, .ac_results span.manufacturer {
			display:block;
			margin:0 0 5px;
			font-size:12px;
			color:#3a3939;
			line-height:15px;
			font-style:italic;	
		}
		.ac_results span.product-name {
			font: 300 14px / 22px $font-family;
			display:inline-block;
			margin:5px 0 10px;
			cursor: pointer;
			&:hover {
				color: #333;
			}
		}
		.ac_results strong {
			color:#f00;
			font-weight:300;
		}
		.ac_results .description {
			font-size:11px;
			line-height:15px;	
		}
		.ac_results .price {
			padding-right:5px;
		}
		@media only screen and (min-width:768px) and (max-width:991px) {
			.ac_results .content {
				float:left;
				clear:both;	
			}
		}

form#tmsearchbox {
  position: relative; }
  form#tmsearchbox label {
    color: #333333; }
  form#tmsearchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#tmsearchbox .btn.btn-sm {
    float: left; }
    form#tmsearchbox .btn.btn-sm i {
      margin-right: 0; }