<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>tmmegamenu</name>
	<displayName><![CDATA[TM Mega Menu]]></displayName>
	<version><![CDATA[0.0.1]]></version>
	<description><![CDATA[Mega Menu by Template Monster]]></description>
	<author><![CDATA[Template Monster (Alexander Grosul)]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure that you want to delete all your info?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>